%link{:href => "https://fonts.googleapis.com/css?family=Ewert", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=IBM+Plex+Serif:700i", :rel => "stylesheet"}/
%article
  %img.background{:alt => "background", :border => "0", :height => "100%", :src => "assets/p0074_l.jpeg", :width => "100%"}/
  %section.top
    %a{:href => ""}
      %img.kamon_img{:alt => "kamon", :border => "0", :src => "assets/ozakikamon.png"}/
    %h1.title Roy Ozaki's page
  %section.navbar
    %ul.link_list
      %li
        %a.link{:href => ""} Profile
      %li
        %a.link{:href => ""} Skill
      %li
        %a.link{:href => ""} Contact
  %section.content
    %p
      Thank you for visiting this page!
      %br/
      = succeed "Here" do
        %br/
      %br/
      = succeed "--Profile--" do
        %br/
      %br/
      = succeed "I" do
        %br/
      %br/
      %br/
      If you contact me with your any questions about Japan trip, I will work hard to provide you useful information as much as possible!
      %br/
      %br/
      Of course, it's free!
      %br>/
      I'm just want to make your Japan trip so nicer.
%footer ©️Ryoya Ozaki 2019
